* {
    border: 1px dashed red;
}
.header-img {
    float: left;
    margin-left: 10em;
}
.h1-title {
    font-size: 60%;
    padding-left: 800px;
    color: #03a3df;
    background-color: white;
    text-align: left;
    font-style: normal;
    padding-bottom: 0;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
}

.nav-wrapper ul{
    list-style-type: none;
    width: 100%;
}

.nav-wrapper ul li {
    display: inline;
}

.nav-wrapper ul li a {
    text-align: center;
    height: 50px;
    padding: 1em 0;
    text-decoration: none;
    background-color: #1b447f;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
.main {
    margin: 20px;
    clear: left;
}

.section-index {
    clear: none;

}
. {
    clear: left;
}
.grid-container-us {
    display: grid;
    width: 100%
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
}
.grid-container-classes {
    display: grid;
    width: 100%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
}
h4-1-row-column {
    grid-row: 1; grid-column: 1;
    }
h4-2-row-column {
    grid-row: 2; grid-column: 1;
}
h4-3-row-column {
    grid-row: 3; grid-column: 1;
}
h4-4-row-column {
    grid-row: 4; grid-column: 1;
}
h4-1-about {
    grid-row: 1; grid-column: 2;
    }
h4-2-about {
    grid-row: 2; grid-column: 2;
}
h4-3-about {
    grid-row: 3; grid-column: 2;
}
h4-4-about {
    grid-row: 4; grid-column: 2;
}

}
