.header-tag {
    display: flex;
    flex-direction: row;
    background-color: #ecb722;
}

.header-img {
    display: flex;
    width: 40%;
    margin-left: 20px;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.h1-title {
    background-color: #ecb722;
    color: #03a3df;
    padding-left: 80px;
    padding-top: 40px;
    line-height: .8;
}
.h2-instructors {
    background-color: #03a3df;
}
.class-schedules {
    font-style: italic;
    font-size: 40px;
    margin-top: 0;
}
.nav-wrapper ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1b447f;
    text-align: center;
    margin: 0;
}

.nav-wrapper li a {
    text-align: center;
    text-decoration: none;
    color: #ecb722;
    font-weight:  bold;
    width: 350px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 0;
    padding-right: 100px;
    padding-left: 150px;
}
.li-margin-us {
    margin: 30px;
}
.body {
    font-family: Arial;
    font-size: 17px;
    margin: 0;
    background-color: #03a3df;
}
.main {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #03a3df;
}
.main-classes {
    margin: 20px;
    padding: 30px;
    background-color: #03a3df;
}
.main-us {
    display: grid;
    flex-direction: row;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 200px 200px 800px;
    background-color: #03a3df;
    text-align: center;
    margin-left: 30px;
}
/*-- skip to main content --*/
.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}
.hidden:focus {
    left: 0;
}
.footer-center {
    padding: 0;
}
.footer-img {
    width: 100%;
}
.section-index {
    margin: 0;
    padding: 30px;
}
.grid-item-1 {
    grid-row: 1; grid-column: 1;
    padding-top: 100px;
    }
.grid-item-2 {
    grid-row: 1; grid-column: 2;
    padding-top: 40px;
}
.grid-item-3 {
    grid-row: 1; grid-column: 3;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.grid-item-4 {
    grid-row: 2; grid-column: 1;
    padding-top: 100px;
}
.grid-item-5 {
    grid-row: 2; grid-column: 2;
    padding-top: 50px;
}
.grid-item-6 {
    grid-row: 2; grid-column: 3;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.grid-item-7 {
    grid-row: 3; grid-column: 1;
    padding-top: 100px;
    }
.grid-item-8 {
    grid-row: 3; grid-column: 2;
    padding-top: 40px;
}
.grid-item-9 {
    grid-row: 3; grid-column: 3;
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.grid-item-10 {
    grid-row: 4; grid-column: 1;
    padding-top: 100px;
}
.grid-item-11 {
    grid-row: 4; grid-column: 2;
    padding-top: 40px;
}
.grid-item-12 {
    grid-row: 4; grid-column: 3;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
